## Naive Baye's Machine Learning Algorithms Implementation

In [2]:
from sklearn.datasets import load_iris

In [3]:
import seaborn as sns

In [4]:
df=sns.load_dataset('iris')

In [6]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [12]:
#Input Independent featues
X=df.drop('species',axis=1)

In [13]:
y=df['species']

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

### Using Gaussian Naive Bayes Algorithm

In [17]:
from sklearn.naive_bayes import GaussianNB

In [18]:
gnb=GaussianNB()

In [19]:
gnb.fit(X_train,y_train)

GaussianNB()

In [20]:
y_pred=gnb.predict(X_test)

In [21]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [22]:
print(confusion_matrix(y_pred,y_test))
print(accuracy_score(y_pred,y_test))
print(classification_report(y_pred,y_test))

[[16  0  0]
 [ 0 18  0]
 [ 0  0 11]]
1.0
              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        16
  versicolor       1.00      1.00      1.00        18
   virginica       1.00      1.00      1.00        11

    accuracy                           1.00        45
   macro avg       1.00      1.00      1.00        45
weighted avg       1.00      1.00      1.00        45

In [23]:
import seaborn as sns

In [24]:
df=sns.load_dataset('tips')

In [25]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4